<main class="container-fluid">
  <div class=row>
    <div class="col col-md-12">
      <br />
      <h1>Web App Developers - Fall 2019</h1>
      <br />
      <hr>
      <h3>During development, test api here.</h3>
      <br />
      <br />
      <br />
      <h4>Developer: Test GET JSON by URL</h4>
      <ol>
        <li> <a href="https://group-8-fullstackapp.herokuapp.com/developer/findall">https://group-8-fullstackapp.herokuapp.com/developer/findall</a>
        </li>
        <li> <a href="https://group-8-fullstackapp.herokuapp.com/findone/99">https://group-8-fullstackapp.herokuapp.com/developer/findone/99</a>
        </li>
        <li> <a href="https://group-8-fullstackapp.herokuapp.com/developer/findone/100">https://group-8-fullstackapp.herokuapp.com/developer/findone/100</a>
        </li>
        <li> <a href="https://group-8-fullstackapp.herokuapp.com/developer/findone/92">https://group-8-fullstackapp.herokuapp.com/developer/findone/92</a>
        </li>
        <li> <a href="https://group-8-fullstackapp.herokuapp.com/developer/findone/93">https://group-8-fullstackapp.herokuapp.com/developer/findone/93</a>
        </li>
        <li> <a href="https://group-8-fullstackapp.herokuapp.com/newpage">https://group-8-fullstackapp.herokuapp.com/newpage</a>
        </li>
      </ol>

      <br>

      <h4>Developer: Test Requests to GET a view</h4>

      <ol>
        <li> <a href="https://group-8-fullstackapp.herokuapp.com/developer">https://group-8-fullstackapp.herokuapp.com/developer</a>
        </li>
        <li> <a href="https://group-8-fullstackapp.herokuapp.com/developer/create">https://group-8-fullstackapp.herokuapp.com/developer/create</a>
        </li>
        <li> <a href="https://group-8-fullstackapp.herokuapp.com/developer/edit/99">https://group-8-fullstackapp.herokuapp.com/developer/edit/99</a>
        </li>
        <li> <a href="https://group-8-fullstackapp.herokuapp.com/developer/delete/99">https://group-8-fullstackapp.herokuapp.com/developer/delete/99</a>
        </li>
        <li> <a href="https://group-8-fullstackapp.herokuapp.com/developer/details/100">https://group-8-fullstackapp.herokuapp.com/developer/details/100</a>
        </li>
      </ol>
      <h4>Student Model :  Gangadhar Yerremsetti</h4>
      <ol>
        <li> <a href="https://group-8-fullstackapp.herokuapp.com/student/findall">https://group-8-fullstackapp.herokuapp.com/student/findall</a>
        </li>
        <li> <a href="https://group-8-fullstackapp.herokuapp.com/student/findone/537362">https://group-8-fullstackapp.herokuapp.com/student/findone/537362</a>
        </li>
        <li> <a href="https://group-8-fullstackapp.herokuapp.com/student/findone/537364">https://group-8-fullstackapp.herokuapp.com/student/findone/537364</a>
        </li>
        <li> <a href="https://group-8-fullstackapp.herokuapp.com/student/findone/537365">https://group-8-fullstackapp.herokuapp.com/student/findone/537365</a>
        </li>
        <li> <a href="https://group-8-fullstackapp.herokuapp.com/student/findone/537361">https://group-8-fullstackapp.herokuapp.com/student/findone/537361</a>
        </li>
      </ol>
      <h4>Section Model - Manisha Mengani</h4>
      <ol>
        <li> <a href="https://group-8-fullstackapp.herokuapp.com/section/findall">https://group-8-fullstackapp.herokuapp.com/section/findall</a>
        </li>
        <li> <a href="https://group-8-fullstackapp.herokuapp.com/section/findone/01">https://group-8-fullstackapp.herokuapp.com/section/findone/01</a>
        </li>
      </ol>
      <h4>Course Model - Sushmita Rudra</h4>
      <ol>
        <li> <a href="https://group-8-fullstackapp.herokuapp.com/course/findall">https://group-8-fullstackapp.herokuapp.com/course/findall</a>
        </li>
        <li> <a href="https://group-8-fullstackapp.herokuapp.com/course/findone/1">http://localhost:3004/course/findone/1</a>
        </li>
      </ol>

    </div>
  </div>
</main>
<hr>

</div>
</div>
</div>